@font-face {
  font-family: bodoni-bold;
  src: url(tipografias/bodoni-bold.ttf);
}


@font-face {
  font-family: RomanWoodTypeJNL;
  src: url(tipografias/RomanWoodTypeJNL.ttf);
}

h1{
  font-family: RomanWoodTypeJNL;
  font-size: 70px ;
}

h3{
  font-family: RomanWoodTypeJNL;
  font-size: 50px ;
}

p {
  font-family: 'Times New Roman', Times, serif;
  
}

.home__ {
  background-image: url(img/fondoshelbys.png);
}

.pororden__ {
  font-family: bodoni-bold;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 50px;
}


.sinopsis__ {
padding: 15px auto;
padding-top: 40px;

}


.premios__{
  margin: 10px auto;
  
  padding-top: 25px;
 

  }
  


.fondopersonajes__ {
  background-image: url(img/fondoshelbys.png);
  background-size: cover;
}

.botonpersonaje__ {
  margin: 88px auto;
}

.shelbys__ {
  background-image: url(img/fondoshelbys.png);
  background-size: contain;
}

.enemigos__ {
  background-image: url(img/fondoenemigos2.png);
background-size: cover;
}

.fichapersonaje__ {
  margin-top: 60px ;
  flex-flow: row wrap;
}



.fotopersonaje__ {
  margin-top: 10px;
  margin-bottom: 50px;
}


.colorenemigos__ {
  color: white;
}


.temporadasfondo__ {
  background-image: url(img/texturaladrillo.jpg);
  background-size: contain;
}

.temporadas__ {
  margin-top: 15px;
  margin-left: 0,5%;
  padding-top: 5px;
 
  
  font-family: RomanWoodTypeJNL; color: white;
  
 
}




